# Funciones

In [4]:
x = 1
y = 2
x * y

2

In [7]:
print "hola mundo"

hola mundo

<br>
`add_numbers` es una función que toma dos números y entrega su suma.

In [9]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

<br>
`add_numbers` actualizado para aceptar un tercer parametro opcional. Usando `print` permite visulizar multiple salidas de una misma celda.

In [10]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

<br>
`add_numbers` actualizado para aceptar un marcador (flag) opcional.

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

<br>
Asignado la funcion `add_numbers` a la variable `a`.

In [11]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

<br>
# Tipos de variable y sequencias

<br>
Usando `type` regresa el tipo de objeto de la variable.

In [12]:
type('This is a string')

str

In [13]:
type(None)

NoneType

In [14]:
type(1)

int

In [15]:
type(1.0)

float

In [16]:
type(add_numbers)

function

In [19]:
print 3/2
print 3.0/2
print float(3/2)

1
1.5
1.0

<br>
Tuples son estructuras de datos inmutables (no pueden ser alteradas).

In [20]:
x = (1, 'a', 2, 'b', 3, 'hola')
print type(x)
print x[0]
print x[5]

<type 'tuple'>
1
hola

<br>
Lists son estructuras de datos que pueden ser alteradas

In [23]:
x = [1, 'a', 2, 'b']
type(x)

list

<br>
Usando `append` se puede agregar un objeto a la lista.

In [24]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

<br>
Este es un ejemplo sobre como iterar por cada elemente de la lista.

In [26]:
for item in x:
    print(item)

1
a
2
b
3.3

<br>
Lo anterior tambien se puede hacer utilizando indices:

In [29]:
i=0
while( i < len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

<br>
Usa `+` para concatenar listas.

In [30]:
[1,2] + [3,4]

[1, 2, 3, 4]

<br>
Usa `*` para repetir listas.

In [31]:
[1]*3

[1, 1, 1]

<br>
Usa el operador `in` para verificar si un elemento está dentro de la lista.

In [32]:
print 1 in [1, 2, 3]
print 'h' in 'hola'
print 'd' in 'hola'

True
True
False

<br>
Usa corchetes para extraer una sección del string.

In [33]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

<br>
Esto entrega el último elemento de la string.

In [34]:
x[-1]

'g'

<br>
Una seccion desde el comienzo hasta el 3rd elemento.

In [35]:
x[:3]

'Thi'

<br>
Esta es una sección que comienza en ? elemento y llega hasta el final.

In [36]:
x[3:]

's is a string'

<br>
`len` entrega el numero de elementos de un diccionario, string o lista.

In [ ]:
print x
print len(x)
print len([0,1,2,3])
print len('chao')

<br>
`range` crea una lista numerica.

In [37]:
print range(2)
print range(4)

[0, 1]
[0, 1, 2, 3]

<br>
La funcion `split` divide un string usando por defecto los espacios en blanco como separadores.

In [ ]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selecciona el primer elemento de la lista
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] seleccional el último elemento de la lista
print(firstname)
print(lastname)
firstname = 'Christopher Arthur Hansen Brooks'.split('h')[0] # [0] selecciona el primer elemento de la lista
lastname = 'Christopher Arthur Hansen Brooks'.split('A')[-1] # [-1] seleccional el último elemento de la lista
print(firstname)
print(lastname)

<br>
Asegurate de convertir a string todos los elementos que quieres concatenar.

In [ ]:
'Chris' + 2

In [ ]:
'Chris' + str(2)

<br>
Dictionarios asocian llaves (keys) con valores.

In [ ]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Devuelve un valor segun la key

In [ ]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

<br>
Itera sobre usando las llaves como indices:

In [ ]:
for name in x:
    print(x[name])

<br>
Itera sobre todos los valores del diccionario.

In [ ]:
for email in x.values():
    print(email)

<br>
Itera sobre todos los elementos del diccionario:

In [ ]:
for name, email in x.items():
    print(name)
    print(email)

# Ejercicios

In [78]:
# DNA es el material genetico de un determinado organimso
# seq es una muestra de material genetico
DNA='ACGTCTTTCCGCATCATTCTAACTCCGCATTGTCCTTACGATACCGATTACGATTCACGATACCGCATTTACGATACGTCAGATACTCCGACATTTACGATACTCC'
seq='CATCATTCTAAC'

In [39]:
# 1. Determina si en seq se encuentra presente en DNA.
seq in DNA

True

In [73]:
# 2. Crea una función que tome como argumentos DNA y sequencia y entregue valores de
# 0 si la sequencia existe en el DNA,
# ó 1 de otra manera
def secuencia(seq,DNA):
    if (seq in DNA):
        return 0
    else:
        return 1
secuencia(seq,DNA)

0

In [79]:
# 3. Crea una función que tome como argumentos DNA y sequencia y entregue la posicion en donde seq 
# se encuentra dentro de DNA

def posicion(seq, DNA):
    n=len(seq)
    for i in range(len(DNA)):
        if DNA[i:i+n]==seq:
            return i+1
posicion(seq,DNA)